@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "metropolis-thin";
    src: url('../_fonts/Metropolis-Light.ttf');
    font-display: auto;
}
@font-face {
    font-family: "metropolis-medium";
    src: url('../_fonts/Metropolis-Medium.ttf');
    font-display: auto;
}
@font-face {
    font-family: "metropolis-semibold";
    src: url('../_fonts/Metropolis-SemiBold.ttf');
    font-display: auto;
}
@font-face {
    font-family: "metropolis-bold";
    src: url('../_fonts/Metropolis-Bold.ttf');
    font-display: auto;
}